table.tableizer-table {
  border: 1px solid #CCC;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  width: 1000px;
}
.tableizer-table td {
  padding: 4px;
  margin: 3px;
  border: 1px solid #ccc;
}
.tableizer-table th {
  background-color: #C0E6EC;
  color: #000;
  font-weight: bold;
}

.broj_fakture{
  width: 60px;
}

.datum_fakture{
  width: 80px;
}

.producent {
  width: 60px;
}

.film{
  width: 220px;
}

.komitent{
  width: 220px;
}

.fakturisano {
  width: 130px;
}

.neto {
  width: 140px;
}

.porez {
  width: 110px;
}

.naocare {

}

.naocare_prihod {
  width: 80px;
}

.uplaceno {

}

.duguje {

}



.broj_fakture_header{
  width: 60px;
}

.datum_fakture_header{
  width: 80px;
}

.producent_header {
  width: 60px;
}

.film_header{
  width: 220px;
}

.komitent_header{
  width: 220px;
}

.fakturisano_header {
  width: 130px;
}

.neto_header {
  width: 140px;
}

.porez_header{
  width: 110px;
}

.naocare_header {

}

.naocare_vrednost_header {
  width: 80px;
}

.uplaceno_header{

}

.duguje_header {

}